.reach-out {
  background: linear-gradient(var(--green-500), #4281617c),
    url(https://img.freepik.com/free-photo/so-many-vegetables-this-field_181624-18619.jpg?ga=GA1.1.2055555092.1705596882&semt=ais_hybrid)
      no-repeat center;
  background-size: cover;
}

.fs-1{
    height: 20vh;
}
